In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('Advertising.csv')

In [8]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [36]:
X = df.drop('sales',axis=1)

In [37]:
y = df['sales']

In [38]:
from sklearn.preprocessing import PolynomialFeatures

In [39]:
# creating a polynomial converter of degree 2
polynomial_converter = PolynomialFeatures(degree=2,include_bias=False)

In [40]:
# Fitting the polynomial_converter on a dataset for just analysing purpose and not tranforming it
polynomial_converter.fit(X)

PolynomialFeatures(include_bias=False)

In [41]:
poly_feat = polynomial_converter.transform(X)

In [42]:
poly_feat[0]

array([2.301000e+02, 3.780000e+01, 6.920000e+01, 5.294601e+04,
       8.697780e+03, 1.592292e+04, 1.428840e+03, 2.615760e+03,
       4.788640e+03])

In [43]:
# Performing the train-test split using polynomial regression

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(poly_feat, y, test_size=0.3, random_state=101)

In [46]:
from sklearn.linear_model import LinearRegression

In [51]:
model = LinearRegression()

In [52]:
model.fit(X_train,y_train)

LinearRegression()

In [53]:
model.coef_

array([ 5.17095811e-02,  1.30848864e-02,  1.20000085e-02, -1.10892474e-04,
        1.14212673e-03, -5.24100082e-05,  3.34919737e-05,  1.46380310e-04,
       -3.04715806e-05])

In [54]:
test_predictions = model.predict(X_test)

In [55]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [56]:
MAE = mean_absolute_error(y_test,test_predictions)

In [57]:
MSE = mean_squared_error(y_test,test_predictions)

In [58]:
RMSE = np.sqrt(MSE)

In [59]:
MAE

0.48967980448035603

In [60]:
MSE

0.44175055104034144

In [61]:
RMSE

0.6646431757269019