In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
myindex = ['USA','Canada','Mexico']

In [4]:
mydata = [1222,1223,2134]

Create a pandas series using the pd.Series(data=your_data,index=your_index)

In [5]:
myser = pd.Series(data=mydata)

In [6]:
myser

0    1222
1    1223
2    2134
dtype: int64

If the index is not defined in the ps.Series() method then w by-default it takes 0 to n-1 index

In [7]:
myser = pd.Series(data=mydata,index=myindex)

In [8]:
myser

USA       1222
Canada    1223
Mexico    2134
dtype: int64

In [9]:
myser[0]

1222

In [10]:
myser['USA']

1222

Create series using dictionaries

In [11]:
ages = {'Aalam':20,'Asad':21,'Adnan':23}

In [12]:
myser1 = pd.Series(ages)

In [13]:
myser1

Aalam    20
Asad     21
Adnan    23
dtype: int64

In [14]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [16]:
sales_q1 = pd.Series(q1)

In [17]:
sales_q2 = pd.Series(q2)

In [18]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [19]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

 To check the keys present in the serries use series_name.keys()

In [22]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

To perform the broadcast operations on a series,

In [23]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [24]:
sales_q1 / 2

Japan     40.0
China    225.0
India    100.0
USA      125.0
dtype: float64

In [25]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [27]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [28]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

If the label is not present in both of the series then the resultant series will show Nan(not a number)

We can add two series using series1.add(series2) method

In [31]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

By using the fill_value=0 in the add() method, we can fill the missing values